.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  margin-left: 100px;
  margin-right: 100px;
  background-color: #dadada;
}

.error {
  color: red;
  font-size: 0.8em;
}
